body{
    margin-top: 5%;
    position: relative;
}

img{
    float: left;
}
p{
    text-align: left;
}
h3{
    text-align: center;
}

.system{
    position: relative;
}
.one{
    position: relative;
    border: 3px transparent;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    
}
